<ion-view title="Signup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page8">
  <ion-content padding="true" style="background: url(img/4FzaACYT9uVE8tamqrA1_Dulux20Trade20-20The20Roundhouse20Derby20College.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form5" class="list center-form">
      <div>
        <img src="img/B3apCJCoQb6uBC10RqQg_SUGeneralLogo-Squared-w-BlackBorder.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="signup-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Your name" ng-model="userdetails.name">
      </label>
      <label class="item item-input" id="signup-input9">
        <span class="input-label">College ID</span>
        <input type="text" placeholder="College ID" ng-model="userdetails.collegeid">
      </label>
      <label class="item item-input" id="signup-input8">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="userdetails.password">
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <button id="signup-button9" class="button button-positive button-block">Signup</button>
      <a ui-sref="logIn()" id="signup-button10" style="color:#FFFFFF;" class="button button-stable button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>